{
    "name": "{{ xitiVersion }}",
    "config": {
        "main": "fr.wseduc.xiti.Xiti",
        "port": 8049,
        "app-name": "Xiti",
        "app-address": "/xiti",
        "app-icon": "Xiti-large",
        "app-type" : "SYSTEM",
        "host": "https://{{ host }}",
        "ssl": true,
        {% if overrideTheme %} "override-theme": {{ override2d }}, {% endif %}
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        "integration-mode": "HTTP",
        "app-registry.port": 8012,
        "mode": "prod",
        "entcore.port": 8009,
        "active": "true",
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": "",
                    "/admin-console": ""
                },
                "LIBELLE_SERVICE": {
                    "default": "PAGE_ENT",
                    "/admin-console": "PAGE_ENT"
                }
            }
        }
    }
}