<!DOCTYPE html>
<html>

	<head>
		<title>{{#i18n}}xiti.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
		<script src="/xiti/public/js/model.js" type="text/javascript"></script>
		<script src="/xiti/public/js/controller.js" type="text/javascript"></script>
		<script type="text/ng-template" id="empty"></script>
	</head>

	<body ng-controller="XitiController">
		<admin-portal>
			<form name="xitiform" novalidate>
				<article class="twelve cell list-view">
					<h1 class="reduce-block-eight"><i18n>xiti.admin.header</i18n></h1>

					<hr class="separator">

					<h2 class="reduce-block-eight"><i18n>xiti.plateforme.parameters</i18n></h2>
					<div class="row">
						<label class="five cell"><i18n>xiti.id.projet</i18n></label>
						<input class="five cell" type="number" ng-model="conf.ID_PROJET"
							min="0"
							complete-change="conf.upsertPlatform()"/>
					</div>
					<div class="row">
						<label class="five cell"><i18n>xiti.id.plateforme</i18n></label>
						<input class="five cell" type="number" ng-model="conf.ID_PLATEFORME"
							min="0"
							complete-change="conf.upsertPlatform()"/>
					</div>

					<h2 class="reduce-block-eight"><i18n>xiti.structure.parameters</i18n></h2>
					<div class=" reduce-block-eight seven">
						<label class=""><i18n>xiti.mass.capture</i18n> : </label>
						<input class="three" maxlength="3" ng-model="inputCode" i18n-placeholder="xiti.masscapture.code"/>
						<input class="three" type="number" ng-model="inputCollectiviteId" min="0" i18n-placeholder="xiti.id.collectivite"/>
						<button class="right-magnet" ng-click="putcollectiviteIdByUAI(inputCode, inputCollectiviteId)"><i18n>xiti.validate</i18n></button>
					</div>
					<div class=" reduce-block-eight seven" ng-if="tenants.data.length > 0">
						<label class=""><i18n>xiti.project.variables</i18n> : </label>
						<select ng-model="tenantId">
							<option ng-repeat="tenant in tenants.data | orderBy: 'name'" value="[[tenant.id]]">[[ tenant.name ]]</option>
						</select>
						<input class="three" type="number" ng-model="inputProjetId" i18n-placeholder="xiti.id.projet"/>
						<input class="three" type="number" ng-model="inputPlateformeId" i18n-placeholder="xiti.id.plateforme"/>
						<button class="right-magnet" ng-disabled="!tenantId" ng-click="putProjetAndPlateformeIdByTenant(tenantId, inputProjetId, inputPlateformeId)"><i18n>xiti.validate</i18n></button>
					</div>
					<div class="reduce-block-eight" >
						[[initNewStructures()]]
						<table class="">
							<thead>
							<tr>
								<th  >
									<label><i18n>xiti.structure.name</i18n></label>

								</th>
								<th >
									<label><i18n>UAI</i18n></label>

								</th>
								<th >
									<label><i18n>xiti.id.etab</i18n></label>

								</th>
								<th  >
									<label><i18n>xiti.id.collectivite</i18n></label>
								</th>
								<th  >
									<label><i18n>xiti.id.projet</i18n></label>
								</th>
								<th  >
									<label><i18n>xiti.id.plateforme</i18n></label>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr  ng-repeat="structure in structures.all | orderBy: 'name'">
								<td align="left">
									<label>[[structure.name]]</label>
								</td>
								<td align="left">
									<label ng-if="structure.UAI">[[structure.UAI]]</label>
									<label ng-if="!structure.UAI">N/A</label>
								</td>
								<td align="left">
									<input class="" type="number" ng-model="conf.structureMap[structure.id].id"
										   min="0"
										   ng-blur="conf.upsertStructure(structure.id)"/></td>
								<td align="left">
									<input class="" type="number" ng-model="conf.structureMap[structure.id].collectiviteId"
										   min="0"
										   ng-blur="conf.upsertStructure(structure.id)"/>
								</td>
								<td align="left">
									<input ng-if="!tenants.isStructureAttachedToTenant(structure.id)" class="" type="number" ng-value="conf.ID_PROJET"
										   min="0"
										   ng-blur="conf.upsertStructure(structure.id)" disabled="disabled" />
									<input ng-if="tenants.isStructureAttachedToTenant(structure.id)" class="" type="number" ng-model="conf.structureMap[structure.id].projetId"
										   min="0"
										   ng-blur="conf.upsertStructure(structure.id)" />
								</td>
								<td align="left">
									<input ng-if="!tenants.isStructureAttachedToTenant(structure.id)" class="" type="number" ng-value="conf.ID_PLATEFORME"
										   min="0"
										   ng-blur="conf.upsertStructure(structure.id)" disabled="disabled" />
									<input ng-if="tenants.isStructureAttachedToTenant(structure.id)" class="" type="number" ng-model="conf.structureMap[structure.id].plateformeId"
										   min="0"
										   ng-blur="conf.upsertStructure(structure.id)" />
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</article>
			</form>
		</admin-portal>
		<xiti></xiti>


	</body>

</html>
